.navigation {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  width: 80px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;

  & .button {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    border: 2px solid #524f51;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 26px;
    margin: 8px 0;
    transition: 0.2s;
    background-color: #524f51;
    position: relative;

    &:hover,
    &.active {
      border-color: #ffb504;
    }

    &.active {
      background-color: #ffb504;
    }

    & > .tooltip {
      position: absolute;
      text-transform: uppercase;
      right: calc(100% + 20px);
      box-sizing: border-box;
      border: 2px solid #ffb504;
      font-size: 14px;
      border-radius: 6px;
      padding: 0px 12px;
      white-space: nowrap;
      background-color: #524f51;
      color: #fff;
      transition: 0.2s;
      opacity: 0;
      visibility: hidden;
      font-weight: 600;
    }
    
    &:hover .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}
